.content1, .content2 {
  display: flex;
  margin-left: 350px;
  margin-right: 350px;
  align-items: center;
  color: #ffffff;
}

.content1 {
  flex-direction: row;
}

.content2 {
  flex-direction: row-reverse;
}

.text, .text2 {
  font-size: 18px;
  line-height: 1.5;
  max-width: 600px;
  text-align: left;
}

.text {
  margin-left: 50px;
}

.text h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.text2 {
  margin-right: 50px;
}

.text2 h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.image {
  height: 550px;
  width: 550px;
}

  @media (max-width: 1765px) {
    
    .content1, .content2 {
      margin-left: 300px;
      margin-right: 300px;
    }
  
    .text, .text2 {
      font-size: 16px;
    }
  
    .text h2, .text2 h2 {
      font-size: 40px;
    }
  
    .image {
      height: 480px;
      width: 480px;
    }
    

  }
  
  /* Pantallas menores a 1400px */
  @media (max-width: 1400px) {
   
  
    .content1, .content2 {
      margin-left: 250px;
      margin-right: 250px;
    }
  
    .text, .text2 {
      font-size: 14px;
    }
  
    .text h2, .text2 h2 {
      font-size: 35px;
    }
  
    .image {
      height: 450px;
      width: 450px;
    }

  }
  
  /* Pantallas menores a 1080px */
  @media (max-width: 1080px) {
   
    .content1, .content2 {
      margin-left: 200px;
      margin-right: 200px;
    }
  
    .text, .text2 {
      font-size: 12px;
    }
  
    .text h2, .text2 h2 {
      font-size: 30px;
    }
  
    .image {
      height: 400px;
      width: 400px;
    }


  }
  
  /* Estilos para pantallas de hasta 1090px */
  @media only screen and (max-width: 1010px) {
    
    .content1, .content2 {
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .text, .text2 {
      font-size: 16px; /* Ajuste de fuente para ambos */
      margin-left: 0;
      margin-right: 0;
    }

  }
  
  /* Estilos para pantallas de hasta 768px (específicamente para dispositivos más pequeños) */
  @media only screen and (max-width: 768px) {
    .content1, .content2 {
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .text, .text2 {
      font-size: 14px; /* Asegura tamaño de fuente igual */
      margin-left: 0;
      margin-right: 0;
    }

  }



  