/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow: auto;
  background-color: #000000;
}

header {
  background-color: #000000;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
}

footer {
  background-color: #000000;
  padding: 60px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin-top: auto;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.logo img {
    height: 80px; 
    position: absolute;
    top: 15px;
    left: 100px;
}

.instagram-icon1 {
    width: 50px;
    position: absolute; 
    top: 30px; 
    right: 235px; /* margen por defecto */
    transition: right 0.3s ease; /* transición suave */
}

.menu1 nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu1 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px; /* tamaño por defecto */
}

.menu1 nav ul li a:hover {
    text-decoration: underline;
}

.menu1 nav {
    position: absolute;
    top: 30px;
    right: 300px;
}

.instagram-icon2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.instagram-icon2 img {
  height: 35px;
  width: auto;
}

.informacionpie {
  text-align: center;
  font-size: 17px;
  max-width: 1040px; /* Ajusta el valor según el ancho deseado */
  margin: auto;
}

.informacionpie span {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.informacionpie span:hover {
  color: #1da1f2;
}


.informacion1 {
  display: flex;
  margin-bottom: 50px;
}

.informacion2 {
  display: flex;
}


